/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* NAVBAR & SIDEBAR */
.navbar {
  @apply bg-gray-800 h-20 flex  items-center;
}

.menu-bars {
  @apply ml-8 text-3xl bg-none;
}

.nav-menu {
  @apply bg-gray-800 w-64 h-screen flex justify-center fixed top-0 -left-full transition duration-700 ease-in-out;
}
.nav-menu.active {
  @apply left-0 transition duration-500 ease-in-out;
}

.nav-text {
  @apply flex justify-start items-center py-2 pr-0 pl-4 h-14;
}

.nav-text a {
  @apply text-white text-lg w-11/12 h-full flex items-center py-0 px-4 rounded;
}

.nav-text.active {
  @apply bg-blue-600;
}

.nav-text a:hover {
  @apply bg-blue-600;
}

.nav-menu-items {
  @apply w-full;
}

.navbar-toggle {
  @apply bg-gray-800 w-full h-20 flex justify-start items-center;
}
/* END NAVBAR & SIDEBAR */

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
